@import url('https://fonts.googleapis.com/css2?family=Vibur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


$white-color: #ffffff;
$white-smoke-color: #F2F2F2;
$yellow-color: #FFC43B;
$pms-black7: #333333;

$button-color: #11B5E4;

$primary-font-color: #2F281E;
$secondary-font-color: #544837;

$logo-font: "Vibur", serif;
$primary-font: "Montserrat", serif;
