@use '_resets.scss';
@use '_variables.scss' as *;


body {
  font-family: $primary-font;
}

.wrapper{
  width: 100%;
  height: 100dvh;
}

header{
  .logo{
    display: flex;

    h1{
      font-family: $logo-font;
    }

  }
}
